@import '..//../SCSS/index.scss';
@import '..//../SCSS/mixins.scss';
@import '..//../SCSS/variables.scss';

.loginPage-wrapper {
    @include box(100%, 90vh, silver, flex, center, center);
    opacity: 0.6;
    font-family: $FontFamily;
}
.loginForm-wrapper {
    @include gridBox(1, 1fr, 10, 1fr);
    width: 300px;
    height: 450px;
    background-color: bisque;
    gap: 20px;
    padding: 20px;
    border-radius: 10px
}
.login-inscription {
    align-self: center;
    justify-self: center;
    font-size: $LargeFontSize;
    font-weight: bold;
    padding: 10px;
    grid-row: 1/2;
}

.email-loginInput {
    @extend .default-input;
    grid-row: 3/5;
}
.password-loginInput {
    @extend .default-input;
    grid-row: 5/7;
}
.LoginBtn {
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: $MainColor;
    font-size: $LargeFontSize;
    grid-row: 9/11;
}
.auth-error-message {
    font-size: $MediumFontSize;
    color: red;
    grid-row: 7/8;
}

.email-loginInput-error,
.password-loginInput-error {
    @extend .default-input;
    @extend .error-input;
}

