@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

//  COLORS
$MainColor: rgb(170, 130, 60);
$SecondaryColor: silver;
$HoverColor: rgb(70, 70, 70);

// FONTS

$SmallFontSize: 14px;
$DefaultFontSize: 16px;
$MediumFontSize: 18px;
$BigFontSize: 22px;
$LargeFontSize: 24px;
$FontFamily: 'Ubuntu', sans-serif;

// deviseSize

$SmallDeviseSize: 450px;
$MediumDeviseSize: 1100px;
$LargeDeviseSize: 1400px;
